@font-face {
    font-family: Smoke;
    src: url(./media/AlphaSmoke.TTF)
}

body {
    background-color: #A9E5BB;
    color: white;
}

#title {
    font-family: Smoke;
    background-color:#E07A5F !important;
    /* color: rgb(56, 56, 56) !important; */
}

#secondary-title {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 24px;
}

.header-color {
    background-color: #FCF6B1;
    color: #565857;
}

.card-body {
    background-color: #74A4BC;
}

#train-table th,
    td {
      display: inline-block;
      width: 20%;
    }

/* add scrollable table styling here */
#scroll {
    max-height: 350px;
    width: 100%;
    display: inline-block;
    overflow: scroll;
}

#choo-choo-btn {
    background-color: #E07A5F;
}